$rad: 5px;

form {
    border: 1px solid #545454;
    border-radius: $rad;
    padding: 40px;
}

%input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#name{
    @extend %input;
    height:50vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#submit-button{
    @extend %input;
    background-color:light-grey;
    border-radius: $rad;
}